<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>anhui_12_hv_BaiduNavi.zip</string>
		<string>aomen_33_hv_BaiduNavi.zip</string>
		<string>beijing_1_hv_BaiduNavi.zip</string>
		<string>chongqing_22_hv_BaiduNavi.zip</string>
		<string>fujian_13_hv_BaiduNavi.zip</string>
		<string>gansu_28_hv_BaiduNavi.zip</string>
		<string>guangdong_19_hv_BaiduNavi.zip</string>
		<string>guangxi_20_hv_BaiduNavi.zip</string>
		<string>guizhou_24_hv_BaiduNavi.zip</string>
		<string>hainan_21_hv_BaiduNavi.zip</string>
		<string>hebei_3_hv_BaiduNavi.zip</string>
		<string>heilongjiang_8_hv_BaiduNavi.zip</string>
		<string>henan_16_hv_BaiduNavi.zip</string>
		<string>hubei_17_hv_BaiduNavi.zip</string>
		<string>hunan_18_hv_BaiduNavi.zip</string>
		<string>jiangsu_10_hv_BaiduNavi.zip</string>
		<string>jiangxi_14_hv_BaiduNavi.zip</string>
		<string>jilin_7_hv_BaiduNavi.zip</string>
		<string>liaoning_6_hv_BaiduNavi.zip</string>
		<string>neimenggu_5_hv_BaiduNavi.zip</string>
		<string>ningxia_30_hv_BaiduNavi.zip</string>
		<string>qinghai_29_hv_BaiduNavi.zip</string>
		<string>quanguo_0_hv_BaiduNavi.zip</string>
		<string>shandong_15_hv_BaiduNavi.zip</string>
		<string>shanghai_9_hv_BaiduNavi.zip</string>
		<string>shanxi_27_hv_BaiduNavi.zip</string>
		<string>shanxi_4_hv_BaiduNavi.zip</string>
		<string>sichuan_23_hv_BaiduNavi.zip</string>
		<string>tianjin_2_hv_BaiduNavi.zip</string>
		<string>xianggang_32_hv_BaiduNavi.zip</string>
		<string>xinjiang_31_hv_BaiduNavi.zip</string>
		<string>xizang_26_hv_BaiduNavi.zip</string>
		<string>yunnan_25_hv_BaiduNavi.zip</string>
		<string>zhejiang_11_hv_BaiduNavi.zip</string>
	</array>
	<array>
		<string>anhui_12_lv_BaiduNavi.zip</string>
		<string>aomen_33_lv_BaiduNavi.zip</string>
		<string>beijing_1_lv_BaiduNavi.zip</string>
		<string>chongqing_22_lv_BaiduNavi.zip</string>
		<string>fujian_13_lv_BaiduNavi.zip</string>
		<string>gansu_28_lv_BaiduNavi.zip</string>
		<string>guangdong_19_lv_BaiduNavi.zip</string>
		<string>guangxi_20_lv_BaiduNavi.zip</string>
		<string>guizhou_24_lv_BaiduNavi.zip</string>
		<string>hainan_21_lv_BaiduNavi.zip</string>
		<string>hebei_3_lv_BaiduNavi.zip</string>
		<string>heilongjiang_8_lv_BaiduNavi.zip</string>
		<string>henan_16_lv_BaiduNavi.zip</string>
		<string>hubei_17_lv_BaiduNavi.zip</string>
		<string>hunan_18_lv_BaiduNavi.zip</string>
		<string>jiangsu_10_lv_BaiduNavi.zip</string>
		<string>jiangxi_14_lv_BaiduNavi.zip</string>
		<string>jilin_7_lv_BaiduNavi.zip</string>
		<string>liaoning_6_lv_BaiduNavi.zip</string>
		<string>neimenggu_5_lv_BaiduNavi.zip</string>
		<string>ningxia_30_lv_BaiduNavi.zip</string>
		<string>qinghai_29_lv_BaiduNavi.zip</string>
		<string>quanguo_0_lv_BaiduNavi.zip</string>
		<string>shandong_15_lv_BaiduNavi.zip</string>
		<string>shanghai_9_lv_BaiduNavi.zip</string>
		<string>shanxi_27_lv_BaiduNavi.zip</string>
		<string>shanxi_4_lv_BaiduNavi.zip</string>
		<string>sichuan_23_lv_BaiduNavi.zip</string>
		<string>tianjin_2_lv_BaiduNavi.zip</string>
		<string>xianggang_32_lv_BaiduNavi.zip</string>
		<string>xinjiang_31_lv_BaiduNavi.zip</string>
		<string>xizang_26_lv_BaiduNavi.zip</string>
		<string>yunnan_25_lv_BaiduNavi.zip</string>
		<string>zhejiang_11_lv_BaiduNavi.zip</string>
	</array>
</array>
</plist>
